asgiref==3.7.2
Django==4.2.6
djangogrpcframework==0.2.1
djangorestframework==3.14.0
grpcio==1.59.0
grpcio-tools==1.59.0
Pillow==10.1.0
protobuf==4.24.4
pytz==2023.3.post1
sqlparse==0.4.4
tzdata==2023.3
