{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임시 비밀번호 안내</title>
</head>

<body>
    <div class="mail_container" style="margin: 0 auto;
        border: 1px solid #B2A8EE;
        display: block;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: fit-content;
        padding: 30px;">
        <img src="https://d3u19o4soz3vn3.cloudfront.net/webmage/mandaLogo.png" title="manda logo" style="height:200px;">
        <h1 style="color: #7269FF; padding-top: 10px;">임시 비밀번호 발급 안내</h1>
        <div class="label">
            <p style="margin: 30px 0px; color: #251F4B;">
                기재된 임시 비밀번호로 로그인 하신 후 <br>
                비밀번호를 변경해 주시기 바랍니다.
            </p>
        </div>
        <div class="output" style="color: #251F4B; font-weight: bolder; margin: 20px 0px;">임시 비밀번호 : {{ message }}</div>
        <div class="loginBtn" style="display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 40px 0px 20px 0px;">
            <a href="http://localhost:8000/swagger" style="text-decoration: none;
            color: #FFF !important;
        
            background-color: #7269FF;
            padding: 15px 40px 15px 40px;
            border-radius: 10px;" target="_blank">로그인하기</a>
        </div>
    </div>
</body>

</html>