<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write</title>
</head>
<body>
    <!-- HTML 템플릿 내에서 모달 작성 -->
<div class="modal fade" id="feedModal" tabindex="-1" role="dialog" aria-labelledby="feedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedModalLabel">Select a Feed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="feedList"></ul>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript로 모달 내용 로드 -->
<script>
    $('#feedModal').on('show.bs.modal', function () {
        $.get('{% url "feed-list" %}', function(data) {
            var feedList = $('#feedList');
            feedList.empty();
            data.forEach(function(feed) {
                var listItem = $('<li><a href="#">' + feed.feed_contents + '</a></li>');
                listItem.click(function() {
                    // Feed 선택 시 원하는 동작을 수행
                    console.log('Selected Feed ID: ' + feed.id);
                    $('#feedModal').modal('hide');
                });
                feedList.append(listItem);
            });
        });
    });
</script>

</body>
</html>